@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --clr-primary--500: hsl(231, 69%, 60%);
  --clr-primary--700: hsl(0, 94%, 66%);
  --clr-neutral--500: hsl(229, 8%, 60%);
  --clr-neutral--900: #252b46;
  --clr-accent--300: hsl(356, 100%, 66%);
  --fs: 18px;
  --ff-primary: 'Rubik', sans-serif;
  --br: 0.3em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Body */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

/* --- Navbar --- */
.navbar {
  width: 85%;
  max-width: 2000px;
  margin: 0 auto;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
}

.navbar.mobile {
  width: 100%;
  background-color: var(--clr-neutral--900);
}

.navbar.mobile .logo__container {
  display: none;
}

.navbar__header--mobile {
  color: white;
  width: 90%;
  display: none;
}

.navbar.mobile .navbar__header--mobile {
  display: flex;
  justify-content: space-between;

}

.navbar__components {
  display: flex;
  flex-direction: row;
  color: var(--clr-neutral--900);
  align-items: center;
}

.navbar.mobile .navbar__components {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__item:not(:last-child) {
  margin-right: 4rem;
}

.navbar__item {
  text-transform: uppercase;
}

.btn {
  padding: 0.7em 1.6em;
  border-radius: var(--br);
}

.btn__login {
  background-color: var(--clr-primary--700);
  color: white;
  padding: 0.5em 1.95em;
  border: 1px solid var(--clr-primary--700);
  border-radius: var(--br);
}

.hamburger__container {
  display: none;
}