@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --clr-primary--500: hsl(231, 69%, 60%);
  --clr-primary--700: hsl(0, 94%, 66%);
  --clr-neutral--500: hsl(229, 8%, 60%);
  --clr-neutral--900: hsl(229, 31%, 21%);
  --clr-accent--300: hsl(356, 100%, 66%);
  --fs: 18px;
  --ff-primary: 'Rubik', sans-serif;
  --br: 0.7em;
}